<html>
<head>
    <title> Delete </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
</head>

<body>

        <div class="main">

            <div class="di">

                <div class="insidedel">

                    <span class="del">Chosen Record Deleted Successfully</span>

                </div>

            </div>

        </div>

</body>

</html>