<!DOCTYPE html>
<html lang="en">

<head>

    <title>Error 404</title>
    <style>
        h1 {
            text-align: center;
            color: #ffbf00;
        }
    </style>

</head>

<body>

    <h1>
        Error 404 , Page Not found oops !
    </h1>

</body>
</html>